<section class="todoapp">
  <header class="header">
    <h1>TODO List</h1>
    <p>A place to store your todos</p>
    <input class="new-todo1" placeholder="Filter your to-dos" autofocus="" [(ngModel)]="filter">
  </header>
  <section class="main">
    <ol class="todo-list">
      <todo 
      (deleted)="removeTodo(i)"
      [todo]="todo"
      *ngFor="let todo of getTodos(); let i = index" 
      
      ></todo>
    </ol>
    <footer class="footer">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
        <input class="new-todo" placeholder="Add your to-do" autofocus="" [(ngModel)]="newTodo.task" (keyup.enter)="addTodo()" >
      <button class="addBtn" (click)="addTodo()">Add</button>
  </section>
</section>

